{% set logo = true %}
<a href="{{ home_url }}" class="navbar-brand mr-10" aria-label="Obyte logo link">
{% if logo %}
  {% set logo_file = (logo|first).name %}
  <img src="{{ url('theme://assets/svg/obyte_logo.svg')  }}" alt="{{ site.name }}" alt="Obyte logo image" />
{% else %}
  {% include('@images/grav-logo.svg') %}
{% endif %}
</a>
