.section {
  &.textcoins-wrap {
    color: rgba(0, 0, 0, 0.6);
    background: url('../assets/textcoins/textcoins-bg.jpg') center top no-repeat;
    &:before {
      content: '';
      position: absolute;
      height: 660px;
      width: 100%;
      top: 0;
      left: 0;
      background: url('../assets/textcoins/textcoins-repeat-bg.jpg') center top repeat-x;
      z-index: -1;
    }
    h1 {
      margin: 0;
      padding: 102px 0 16px;
      font-family: 'Open Sans', sans-serif;
      font-size: 48px;
      font-weight: 300;
      color: $link-color;
    }
    h2 {
      margin: 0 0 12px;
      font-weight: 300;
      font-size: 36px;
      color: $link-color;
    }
    p {
      line-height: 28px;
    }
    .sub-text-block {
      margin-bottom: 136px;
      max-width: 525px;
      .text-big {
        margin-bottom: 16px;
        max-width: 440px;
        font-size: 24px;
      }
    }
    .article-list {
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
    }
    .article-block {
      width: calc(50% - 32px);
      display: flex;
      flex-flow: column nowrap;
      overflow: hidden;
      border-radius: 8px;
      background-color: $white;
      box-shadow: 0 10px 30px rgba(74, 144, 226, 0.2);
      .img-block {
        img {
          display: block;
          width: 100%;
        }
      }
      .content-block {
        padding: 32px;
        display: flex;
        flex-shrink: 0;
        flex-grow: 1;
        flex-flow: column nowrap;
        justify-content: space-between;
      }
      .title {
        margin-bottom: 16px;
        font-weight: 300;
        font-size: 36px;
        line-height: 49px;
        color: $link-color;
      }
      .text {
        margin-bottom: 55px;
        font-size: 16px;
        line-height: 22px;
        color: $text-color;
      }
    }
  }
}

@media (max-width: $size-sm) {
  .article-list {
    flex-flow: column wrap;
  }
  .article-block {
    margin-bottom: 64px;
    width: 100%;
    .title {
      font-size: 24px;
      margin-bottom: 16px;
    }
    .text {
      margin-bottom: 50px;
      font-size: 14px;
    }
    .more-link {
      font-size: 16px;
    }
  }
}
